.mainContainer {
  background-color: #1d3047;
  width: 100%;
  height: 100svh;
  position: relative;
  z-index: 30;
  display: flex;
  overflow: hidden;
}

.bgImg {
  position: fixed;
  z-index: 1;
  display: flex;
  width: 100vw;
  height: 100svh;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  top: 0;
  left: 0;
}

.bgImg img {
  width: 100%;
  max-width: 100vh;
  /* width: fit-content; */
  /* height: 55%; */
  opacity: 0.1;
  object-fit: cover;
  animation: rotate 25s linear infinite;
  /* margin: auto; */
  /* display: none; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centre-content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  position: relative;
  z-index: 2;
}

.centre-content img {
  width: 100%;
  margin-bottom: 10px;
}

.loading-container {
  /* position: absolute; */
  height: 4px;
  background-color: white;
  left: 0;
  top: 62px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

@keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 70%;
  }
}

.counter {
  color: white;
  font-size: 54px;
  font-weight: bold;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

/* @media only screen and (max-width: 900px) {
  .centre-content {
    max-width: 100%; 
  }
  .centre-content img {
    width: 60%; 
  }
  .loading-container {
    width: 42%;
    top: 50%;
    right: 33.3%;
  }
} */

@media only screen and (max-width: 480px) {
  .centre-content img {
    width: 85%;
  }

  .loading-container::before {
    width: 60%;
    left: 7%;
    top: 37%;
  }

  .counter {
    font-size: 3em;
  }

  @keyframes movingLine {
    0% {
      opacity: 0;
      width: 0;
    }

    100% {
      opacity: 1;
      width: 60%;
    }
  }
}
